<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>秉信科技</title>
		<base th:href="${baseHref}" href="http://127.0.0.1:8020/resources/static/" />
		<link rel="stylesheet" href="layui/css/layui.css" />
		<style>
			.layui-layout-admin .layui-body {
				bottom: 0 !important;
			}
			.layui-tab {
				margin: 0;
			}
			.layui-tab-content{
				padding: 10px;
			}
			.layui-tab-item{
				position: relative;
				bottom: 0;
			}
			.link{
				cursor: pointer;
			}
		</style>
	</head>

	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
				<div class="layui-logo link" lay-id="index"  title="主页" url="/main/index">秉信科技</div>
				<ul class="layui-nav layui-layout-right">
					<li class="layui-nav-item">
						<a href="javascript:;">
							<img src="http://t.cn/RCzsdCq" class="layui-nav-img"> <span id="userName">游客</span>
						</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="">基本资料</a>
							</dd>
							<dd>
								<a href="">修改密码</a>
							</dd>
						</dl>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:;" id="signOut">退出登录</a>
					</li>
				</ul>
			</div>

			<div class="layui-side layui-bg-black">
				<div class="layui-side-scroll">
					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree" lay-filter="test">
						<li class="layui-nav-item layui-nav-itemed">
							<a class="" href="javascript:;">账号管理</a>
							<dl class="layui-nav-child">
								<dd>
									<a href="javascript:;" class="link" lay-id="accountManage"  title="账号管理" url="/user/userList">账号管理</a>
								</dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a class="" href="javascript:;">角色管理</a>
							<dl class="layui-nav-child">
								<dd>
									<a href="javascript:;" class="link" lay-id="roleManage"  title="角色管理" url="/role/roleList">角色管理</a>
								</dd>
								
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;">权限管理</a>
							<dl class="layui-nav-child">
								<dd>
									<a href="javascript:;" class="link" lay-id="JurisdictionManage"  title="权限管理" url="/Jurisdiction/JurisdictionList">权限管理</a>
								</dd>
								<dd>
									<a href="javascript:;">权限分配角色</a>
								</dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;" class="link" lay-id="customerManage"  title="客户管理" url="/customer/CustomerList">客户管理</a>
						</li>
						<li class="layui-nav-item">
							<a href="">产品管理</a>
						</li>
						<li class="layui-nav-item">
							<a href="">订单管理</a>
						</li>
						<li class="layui-nav-item">
							<a href="">工单管理</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="layui-body">
				
				<div class="layui-tab layui-tab-card" lay-filter="demo" lay-allowclose="true">
					<ul class="layui-tab-title">
						<li class="layui-this" lay-id="index">主页</li>
					</ul>
					<div class="layui-tab-content">
						<div class="layui-tab-item layui-show">
							<iframe class="my_iframe" src="/main/index" frameborder="0" scrolling="no" width="100%"></iframe>
						</div>
					</div>
				</div>

			</div>
			
		</div>
		<script type="text/javascript" src="layui/layui.js"></script>
		<script type="text/javascript" src="js/pub/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="js/pub/cookie.js"></script>
		<script type="text/javascript" src="js/pub/base64.js" ></script>
		<script type="text/javascript" src="js/main/main.js" ></script>
	</body>

</html>