<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>账号列表</title>
		<base th:href="${baseHref}" href="http://127.0.0.1:8020/resources/static/" />
		<link rel="stylesheet" href="layui/css/layui.css" />
		<style>
			* {
				margin: 0;
				padding: 0;
			}
			
			.layui-layer-content {
				overflow: visible;
				/*background: rgb(57,61,73);*/
			}
			
			.layui-anim-upbit dd {
				color: black;
			}
			
			.layui-form-selectup dl {
				height: 160px;
			}
			/* 防止下拉框的下拉列表被隐藏---必须设置--- */
        .layui-table-cell {
            overflow: visible !important;
        }
        /* 设置下拉框的高度与表格单元相同 */
        .layui-input, .layui-select, .layui-textarea{
            height: 30px !important;
        }
		</style>
		<script type="text/javascript" src="js/pub/jquery-1.8.3.min.js" ></script>
	</head>

	<body>
		<script type="text/html" id="addDemo">
			<div style="padding: 20px; background-color: #393D49; color: #fff; font-weight: 300;">
				<form class="layui-form" action="" lay-filter="example">
					<div class="layui-form-item">
						<label class="layui-form-label">账号</label>
						<div class="layui-input-block">
							<input type="text" name="account" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">姓名</label>
						<div class="layui-input-block">
							<input type="text" name="userName" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">默认密码</label>
						<div class="layui-input-block">
							<input type="text" name="pwd" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">职务</label>
						<div class="layui-input-block">
							<select name="roleId"></select>
						</div>
					</div>
				</form>
			</div>
		</script>

		<div class="layui-btn-group demoTable">
			<button class="layui-btn" data-type="batchUpdate">批量修改</button>
			<button class="layui-btn" data-type="batchDelete">批量删除</button>
			<button class="layui-btn" data-type="add">新增</button>
		</div>
		<table class="layui-table" lay-data="{ height: 'full-63',cellMinWidth:100,url:'/userRest/list', page:true, id:'idTest'}" lay-filter="demo">
			<thead>
				<tr height="80px">
					<th lay-data="{type:'checkbox', fixed: 'left'}"></th>
					<th lay-data="{field:'id', sort: true, fixed: true}">ID</th>
					<th lay-data="{field:'account'}">账号</th>
					<th lay-data="{field:'userName',edit: 'text'}">用户名</th>
					<th lay-data="{field:'roleName',templet:'#role', width: 110,unresize: true}">角色</th>
					<th lay-data="{field:'state',templet: '#checkboxTpl', unresize: true}">生效状态</th>
					<th lay-data="{fixed: 'right', align:'center', toolbar: '#barDemo'}">操作</th>
				</tr>
			</thead>
		</table>

		<script type="text/html" id="checkboxTpl">
			<input type="checkbox" name="lock" value="{{d.state}}" tabindex={{d.id}} title="生效" lay-filter="lockDemo" {{ d.state==0 ? 'checked' : '' }}>
		</script>
		<script>
			var roleList = [{id:0,roleName:'管理员',state:0}, {id:1,roleName:'普通用户',state:1}];
			$.ajax({
				type:"post",
				url:"roleRest/ableRole",
				success:function(data){
					roleList = data.data;
					console.log(roleList)
				}
			});
		</script>
		<script type="text/html" id="role">
			<select name="roleSelect" userId="{{d.id}}" lay-filter="selectDemo">
				{{# layui.each(roleList, function(index, item){ }}
				<option {{ (d.roleId==item.id)? 'selected' : ''  }} value={{ item.id}}>{{ item.roleName }}</option>
				{{# }); }}
			</select>
		</script>
		<script type="text/html" id="barDemo">
			<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
		</script>
	</body>
	<script type="text/javascript" src="layui/layui.js"></script>
	<script type="text/javascript" src="js/pub/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="js/pub/base64.js"></script>
	<script>
		layui.use('table', function() {
			var table = layui.table,
				form = layui.form;
			//监听表格复选框选择
			table.on('checkbox(demo)', function(obj) {
				console.log(obj)
			});
		//修改角色
        form.on('select(selectDemo)', function (obj) {
        	var roleId = obj.value;
        	var userId = obj.elem.getAttribute('userId');
        	$.ajax({
        		type:"post",
        		url:"/userRoleRest/update",
        		data:{
        			"po.userId":userId,
        			"po.roleId":roleId
        		},
        		success:function(data){
        			if(data.code == 0) {
						layer.msg(data.msg, {
							icon: 6
						}, function() {});
					} else {
						layer.msg(data.msg, {
							icon: 5
						}, function() {});
					}
        		}
        	});
        });

			//监听工具条
			table.on('tool(demo)', function(obj) {
				var data = obj.data;
				if(obj.event === 'del') {
					layer.confirm('确定删除该条数据吗？', function(index) {
						$.ajax({
							type: "post",
							url: "/userRest/deleteById",
							data: {
								"po.id": data.id
							},
							success: function(data) {
								if(data.code == 0) {
									obj.del();
									layer.close(index);
								} else {
									layer.close(index);
									layer.msg(data.msg, {
										icon: 5
									}, function() {});
								}
							}
						});

					});

				}
			});
			//监听单元格编辑
			table.on('edit(demo)', function(obj) {
				var value = obj.value //得到修改后的值
					,
					data = obj.data //得到所在行所有键值
					,
					field = obj.field; //得到字段
				$.ajax({
					type: "post",
					url: "/userRest/updateById",
					data: {
						"po.id": data.id,
						"po.userName": data.userName
					}
				});
			});

			//监听修改生效状态操作
			form.on('checkbox(lockDemo)', function(obj) {
				$.ajax({
					type: "post",
					url: "/userRest/updateStateById",
					data: {
						"po.id": $(this).attr("tabindex")
					},
					success: function(data) {
						if(data.code == 0) {
							layer.msg(data.msg, {
								icon: 6
							}, function() {});
						} else {
							layer.msg(data.msg, {
								icon: 5
							}, function() {});
						}
					}
				});
			});

			var $ = layui.$,
				active = {
					//批量修改
					batchUpdate: function() {
						layer.confirm('确定修改吗？', function(index) {
							var checkStatus = table.checkStatus('idTest'),
								data = checkStatus.data;
							if(data.length == 0) {
								layer.msg("请选中数据", {
									icon: 5
								});
								return false;
							}
							var ids;
							for(var i = 0; i < data.length; i++) {
								if(i == 0) {
									ids = data[i].id;
								} else {
									ids += "," + data[i].id;
								}
							}
							$.ajax({
								type: "post",
								url: "/userRest/updateStateByIds",
								traditional: true,
								data: {
									"ids": ids
								},
								success: function(data) {
									if(data.code == 0) {
										layer.close(index);
										table.reload('idTest');
									} else {
										layer.close(index);
										layer.msg(data.msg, {
											icon: 5
										}, function() {});
									}
								}
							});

						});

					},
					//批量删除
					batchDelete: function() {
						layer.confirm('确定删除吗？', function(index) {
							var checkStatus = table.checkStatus('idTest'),
								data = checkStatus.data;
							if(data.length == 0) {
								layer.msg("请选中数据", {
									icon: 5
								});
								return false;
							}
							var ids;
							for(var i = 0; i < data.length; i++) {
								if(i == 0) {
									ids = data[i].id;
								} else {
									ids += "," + data[i].id;
								}
							}
							$.ajax({
								type: "post",
								url: "/userRest/deleteByIds",
								traditional: true,
								data: {
									"ids": ids
								},
								success: function(data) {
									if(data.code == 0) {
										layer.close(index);
										table.reload('idTest');
									} else {
										layer.close(index);
										layer.msg(data.msg, {
											icon: 5
										}, function() {});
									}
								}
							});

						});

					},
					//增加
					add: function() {
						var addIndex = layer.open({
							type: 1,
							title: "新增账号", //不显示标题栏
							closeBtn: false,
							area: '400px;',
							shade: 0.8,
							id: 'LAY_layuipro', //设定一个id，防止重复弹出
							btn: ['确定', '取消'],
							btnAlign: 'c',
							moveType: 1, //拖拽模式，0或者1
							content: $("#addDemo").html(),
							yes: function() {
								var account = $("input[name='account']").val();
								var userName = $("input[name='userName']").val();
								var pwd = Base.encode($("input[name='pwd']").val());
								var roleId = parseInt($("select[name='roleId']").val());

								$.ajax({
									type: "post",
									url: "/userRest/add",
									data: {
										"po.account": account,
										"po.userName": userName,
										"po.pwd": pwd,
										"po.roleId": roleId
									},
									success: function(data) {
										if(data.code == 0) {
											layer.close(addIndex);
											layer.msg(data.msg, {
												icon: 6
											}, function() {});
										} else {
											layer.close(addIndex);
											layer.msg(data.msg, {
												icon: 5
											}, function() {});
										}
										table.reload('idTest');
									}
								});
							},
							success: function() {
								$.ajax({
									type: "post",
									url: "/roleRest/allRole",
									success: function(data) {
										if(data.code == 0) {
											var myOption = '<option value=""></option>';
											for(var i = 0; i < data.data.length; i++) {
												if(data.data[i].state == 0) {
													myOption += '<option value="' + data.data[i].id + '">' + data.data[i].roleName + '</option>';
												} else {
													myOption += '<option disabled value="' + data.data[i].id + '">' + data.data[i].roleName + '</option>';
												}
											}
											$("select[name='roleId']").html(myOption);
											form.render()
										}
									}
								});
							}
						});
					},
					getCheckLength: function() { //获取选中数目
						var checkStatus = table.checkStatus('idTest'),
							data = checkStatus.data;
						layer.msg('选中了：' + data.length + ' 个');
					},
					isAll: function() { //验证是否全选
						var checkStatus = table.checkStatus('idTest');
						layer.msg(checkStatus.isAll ? '全选' : '未全选')
					}
				};

			$('.demoTable .layui-btn').on('click', function() {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});

		});
	</script>

</html>