<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>角色列表</title>
		<base th:href="${baseHref}" href="http://127.0.0.1:8020/resources/static/" />
		<link rel="stylesheet" href="layui/css/layui.css" />
		<style>
			* {
				margin: 0;
				padding: 0;
			}
			.layui-anim-upbit dd {
				color: black;
			}
		</style>
	</head>

	<body>
		<script type="text/html" id="addDemo">
			<div style="padding: 20px; background-color: #393D49; color: #fff; font-weight: 300;">
				<form class="layui-form" action="">
					<div class="layui-form-item">
					    <label class="layui-form-label">客户姓名</label>
					    <div class="layui-input-block">
					      <input type="text" name="customerName" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
					    </div>
					</div>
					<div class="layui-form-item">
					    <label class="layui-form-label">性别</label>
					    <div class="layui-input-block">
					      	<input type="radio" name="sex" value="男" title="男">
      						<input type="radio" name="sex" value="女" title="女">
					    </div>
					</div>
					<div class="layui-form-item">
					    <label class="layui-form-label">电话号码</label>
					    <div class="layui-input-block">
					      <input type="text" name="telephone" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
					    </div>
					</div>
					<div class="layui-form-item">
					    <label class="layui-form-label">qq</label>
					    <div class="layui-input-block">
					      <input type="text" name="qq" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
					    </div>
					</div>
					<div class="layui-form-item">
					    <label class="layui-form-label">email</label>
					    <div class="layui-input-block">
					      <input type="text" name="email" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
					    </div>
					</div>
					<div class="layui-form-item">
					    <label class="layui-form-label">微信</label>
					    <div class="layui-input-block">
					      <input type="text" name="wechat" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
					    </div>
					</div>
					<div class="layui-form-item">
					    <label class="layui-form-label">介绍人</label>
					    <div class="layui-input-block">
					    	<select name="referee"></select>
					    </div>
					</div>
					<div class="layui-form-item">
					    <label class="layui-form-label">备注</label>
					    <div class="layui-input-block">
					      <textarea name="remarks" placeholder="请输入内容" class="layui-textarea"></textarea>
					    </div>
					</div>
					
				</form>
			</div>
		</script>
		<form class="layui-form">
			<div class="demoTable">
			      <div class="layui-input-inline">
				      <select name="searchKey">
				        <option value="">请选择查询方式</option>
				        <option value="id">ID</option>
				        <option value="customer_name">客户姓名</option>
				        <option value="sex">性别</option>
				        <option value="telephone">电话</option>
				        <option value="qq">qq</option>
				        <option value="email">email</option>
				        <option value="wechat">微信号</option>
				        <option value="referee">推荐人</option>
				        <option value="input_person">录入人</option>
				      </select>
				    </div>
				<div class="layui-inline">
				    <input class="layui-input" name="id" id="searchValue" autocomplete="off">
				</div>
				<button class="layui-btn" data-type="reload">搜索</button>
			</div>
		</form>
		<div class="layui-btn-group demoTable">
			<button class="layui-btn" data-type="batchUpdate">批量修改</button>
			<button class="layui-btn" data-type="batchDelete">批量删除</button>
			<button class="layui-btn" data-type="add">新增</button>
		</div>
		<table class="layui-table" lay-data="{ height: 'full-63',cellMinWidth:80,url:'/customerRest/list', page:true, id:'idTest'}" lay-filter="demo">
			<thead>
				<tr>
					<th lay-data="{type:'checkbox', fixed: 'left'}"></th>
					<th lay-data="{field:'id', sort: true, fixed: true}">ID</th>
					<th lay-data="{field:'customerName',edit: 'text'}">客户姓名</th>
					<th lay-data="{field:'sex',templet: '#checkboxTpl', unresize: true}">性别</th>
					<th lay-data="{field:'telephone',edit: 'text'}">电话号码</th>
					<th lay-data="{field:'qq',edit: 'text'}">qq</th>
					<th lay-data="{field:'email',edit: 'text'}">email</th>
					<th lay-data="{field:'wechat',edit: 'text'}">微信号</th>
					<th lay-data="{field:'referee',edit: 'text'}">推荐人</th>
					<th lay-data="{field:'inputPerson',edit: 'text'}">录入人</th>
					<th lay-data="{field:'time'}">录入时间</th>
					<th lay-data="{fixed: 'right', align:'center', toolbar: '#barDemo'}">操作</th>
				</tr>
			</thead>
		</table>

		<script type="text/html" id="checkboxTpl">
			<input type="checkbox" name="lock" value="{{d.state}}" tabindex={{d.id}} title="生效" lay-filter="lockDemo" {{ d.state==0 ? 'checked' : '' }}>
		</script>
		<script type="text/html" id="barDemo">
			<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
		</script>
	</body>
	<script type="text/javascript" src="layui/layui.js"></script>
	<script type="text/javascript" src="js/pub/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="js/pub/cookie.js" ></script>
	<script type="text/javascript" src="js/pub/base64.js" ></script>
	<script>
		layui.use('table', function() {
			var table = layui.table,
				form = layui.form;
			//监听表格复选框选择
			table.on('checkbox(demo)', function(obj) {
				console.log(obj)
			});
			//监听工具条
			table.on('tool(demo)', function(obj) {
				var data = obj.data;
				if(obj.event === 'del') {
					layer.confirm('确定删除该条数据吗？', function(index) {
						$.ajax({
							type: "post",
							url: "/roleRest/deleteById",
							data: {
								"po.id": data.id
							},
							success: function(data) {
								if(data.code == 0) {
									obj.del();
									layer.close(index);
								} else {
									layer.close(index);
									layer.msg(data.msg, {
										icon: 5
									}, function() {});
								}
							}
						});

					});

				}
			});
			//监听单元格编辑
			table.on('edit(demo)', function(obj) {
				var value = obj.value //得到修改后的值
					,data = obj.data //得到所在行所有键值
					,field = obj.field; //得到字段
				$.ajax({
					type: "post",
					url: "/roleRest/updateById",
					data: {
						"po.id": data.id,
						"po.roleName": data.roleName,
						"po.alias": data.alias,
						"po.state": data.state
					}
				});
			});

			//监听修改生效状态操作
			form.on('checkbox(lockDemo)', function(obj) {
				$.ajax({
					type: "post",
					url: "/roleRest/updateStateById",
					data: {
						"po.id": $(this).attr("tabindex")
					},
					success: function(data) {
						if(data.code == 0) {
							layer.msg(data.msg, {
								icon: 6
							}, function() {});
						} else {
							layer.msg(data.msg, {
								icon: 5
							}, function() {});
						}
					}
				});
			});

			var $ = layui.$,active = {
					//表格重载
					reload: function(){
				      var searchKey = $("select[name='searchKey']").val();
				      var searchValue = $('#searchValue').val();
				     console.log(searchKey)
				      //执行重载
				      table.reload('idTest', {
				       where: {
				       		searchKey:searchKey,
				            searchValue: '%'+searchValue+'%'
				        }
				      });
				   },
					
					//批量修改
					batchUpdate: function() {
						layer.confirm('确定修改吗？', function(index) {
							var checkStatus = table.checkStatus('idTest'),
								data = checkStatus.data;
							if(data.length == 0){
								layer.msg("请选中数据", {icon: 5});
								return false;
							}
							var ids;
							for(var i = 0; i < data.length; i++) {
								if(i == 0) {
									ids = data[i].id;
								} else {
									ids += "," + data[i].id;
								}
							}
							$.ajax({
								type: "post",
								url: "/roleRest/updateStateByIds",
								traditional: true,
								data: {
									"ids": ids
								},
								success: function(data) {
									if(data.code == 0) {
										layer.close(index);
										table.reload('idTest');
									} else {
										layer.close(index);
										layer.msg(data.msg, {
											icon: 5
										}, function() {});
									}
								}
							});

						});

					},
					//批量删除
					batchDelete: function() {
						layer.confirm('确定删除吗？', function(index) {
							var checkStatus = table.checkStatus('idTest'),
								data = checkStatus.data;
							if(data.length == 0){
								layer.msg("请选中数据", {icon: 5});
								return false;
							}
							var ids;
							for(var i = 0; i < data.length; i++) {
								if(i == 0) {
									ids = data[i].id;
								} else {
									ids += "," + data[i].id;
								}
							}
							$.ajax({
								type: "post",
								url: "/roleRest/deleteByIds",
								traditional: true,
								data: {
									"ids": ids
								},
								success: function(data) {
									if(data.code == 0) {
										layer.close(index);
										table.reload('idTest');
									} else {
										layer.close(index);
										layer.msg(data.msg, {
											icon: 5
										}, function() {});
									}
								}
							});

						});

					},
					//增加
					add: function() {
						var addIndex = layer.open({
							type: 1,
							title: "新增用户", //不显示标题栏
							closeBtn: false,
							area: '400px;',
							shade: 0.8,
							id: 'LAY_layuipro', //设定一个id，防止重复弹出
							btn: ['确定', '取消'],
							btnAlign: 'c',
							moveType: 1, //拖拽模式，0或者1
							content: $("#addDemo").html(),
							yes:function(){
								var customerName = $("input[name='customerName']").val();
								var telephone = $("input[name='telephone']").val();
								var qq = $("input[name='qq']").val();
								var email = $("input[name='email']").val();
								var wechat = $("input[name='wechat']").val();
								var referee = parseInt($("select[name='referee']").val());
								var sex = $("input[name='sex']:checked").val();
								var remarks = $("textarea[name='remarks']").val();
								
								var token = CookieUtil.get('token');
								token = Base.decode(token);
								token = JSON.parse(token)
								
								var inputPerson = token.userId;
								
								$.ajax({
									type:"post",
									url:"/customerRest/add",
									data:{
										"po.customerName":customerName,
										"po.telephone":telephone,
										"po.qq":qq,
										"po.email":email,
										"po.wechat":wechat,
										"po.referee":referee,
										"po.sex":sex,
										"po.remarks":remarks,
										"po.inputPerson":inputPerson
									},
									success:function(data){
										if(data.code == 0) {
											layer.close(addIndex);
											layer.msg(data.msg, {
												icon: 6
											}, function() {});
										} else {
											layer.close(addIndex);
											layer.msg(data.msg, {
												icon: 5
											}, function() {});
										}
										table.reload('idTest');
									}
								});
							},
							success:function(){
								$.ajax({
									type: "post",
									url: "/userRest/allUser",
									success: function(data) {
										if(data.code == 0) {
											var myOption = '<option value=""></option>';
											for(var i = 0; i < data.data.length; i++) {
												if(data.data[i].state == 0) {
													myOption += '<option value="' + data.data[i].id + '">' + data.data[i].userName + '</option>';
												} else {
													myOption += '<option disabled value="' + data.data[i].id + '">' + data.data[i].userName + '</option>';
												}
											}
											$("select[name='referee']").html(myOption);
										}
										form.render()
									}
								});
							}
						});
					},
					getCheckLength: function() { //获取选中数目
						var checkStatus = table.checkStatus('idTest'),
							data = checkStatus.data;
						layer.msg('选中了：' + data.length + ' 个');
					},
					isAll: function() { //验证是否全选
						var checkStatus = table.checkStatus('idTest');
						layer.msg(checkStatus.isAll ? '全选' : '未全选')
					}
				};

			$('.demoTable .layui-btn').on('click', function() {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});
			
		});
	</script>

</html>